extends layout

block content

  p Welcome to #{title}

  ul
    li
      a(href="/equipos/view") Equipos
    li 
      a(href="/patrocinantes/view") Patrocinantes 
    li 
      a(href="/modalidades/view") Modalidades
