doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar")
      h1 Concurso Robótica APP
      block userlog
    block content
